@font-face {
	font-family: 'Foundation';
	src: url('../assets/fonts/FoundationTitlesHand-v0.85.ttf')
}

/* style du header de la page d'accueil */
header{
    z-index: 100;
    background-color: #E09108;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.336);
}

/* style du logo dans le header */
a.navbar-brand{
    color: white;
}

/* style du menu */
a.nav-link{
    color: #734e0d;
}

a.nav-link:hover{
    color: #000000;
}

.nav-link.active{
    color : white;
}

img.carousel{
    display: block;
  max-width:100%;
  max-height:450px;
  width: auto;
  height: auto;
  margin: auto;
}

h1{
    color: #E09108;
    font-family: 'Foundation', sans-serif;
}

div.sub-faction-container{
    margin-top: 60px;
    text-align: center;
}

a.lien-details{
    color: #885C0F;
    margin-bottom: 60px;
}
a.lien-details:hover{
    color: #E09108;
}

a.lien-details.annee{
    margin-top: 20px;
    text-decoration : none;
    color: white;
    text-align: center;
}

a.image-annee{
    display:grid; 
    text-decoration : none;
}

a.image-annee>*{
    grid-area: 1/1/-1/-1; 
}

img.lien-projet-picture{
    margin: auto;
    max-height: 180px;
    border-radius: 50%;
    background-color: #00000020;
}



span.image-text{
    justify-content: center;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF00;
    margin: auto;
}

.text-hover-lien{
    margin:auto;
}

.image-annee:hover .image-text{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #000000;
    opacity: 0.9;
    color:#FFFFFF;
    margin: auto;
}

span{
    margin-top: 20%;
}



