/* style du header de la page d'accueil */
header[data-theme="dark"] {
  background-color: #282828;
  box-shadow: 0px 5px 5px #ffffff25;
}
header[data-theme="light"] {
  background-color: #ffffff;
  box-shadow: 0px 5px 5px #00000025;
}
header {
  z-index: 100;
}

/* style du logo dans le header */
a.navbar-brand[data-theme="dark"] {
  color: white;
}
a.navbar-brand[data-theme="light"] {
  color: black;
}

p1 {
  color: #e09108;
}

/* style du menu */
a.nav-link[data-theme="dark"] {
  color: #885c0f;
}

a.nav-link[data-theme="dark"]:hover {
  color: white;
}

a.nav-link.active[data-theme="dark"] {
  color: white;
}

a.nav-link[data-theme="light"] {
  color: #b6770b;
}

a.nav-link:hover[data-theme="light"] {
  color: black;
}

.nav-link.active[data-theme="light"] {
  color: black;
}
