/* style du footer -- identique sur toutes les pages */
footer{
    background-color: #716A5D;
    height: 65px;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

/* style global de la page */
div.global-container[data-theme="dark"]{
    background-color: #2C2C2C;
}

div.global-container[data-theme="light"] {
    background-color: #ffffff;
}

.main-container{
    background-color: #05030010;
    min-height: 800px;
    width: 80%;
    margin: auto
}

/* Style du header */
header{
    height: 65px;
    padding: 10px;
    position: fixed;
    width: 100%;
}


a.navbar-brand{
    margin-left: 15px;
    font-size: 1.5em;
    float: left;
    width: 20%;
}

.nav-bar{
    float : right;
   bottom : 0px;
}

a.nav-link{
    margin-top: 10px;
    font-size: 18px;
}

a.nav-link:hover{
    margin-top: 10px;
    font-size: 18px;
}

.theme-switcher{
    float : right;
    margin-top : 75px;
    margin-right: 20px;
    width: auto;
    display: flex;
}

.switch-theme-icon{
    margin:5px;
    color:#1616168e;
    width:20px;
    height: 20px;
}

.switch-theme-icon.active{
    margin:5px;
    color:#B6770B70;
    width:20px;
    height: 20px;
}

